@import url("app.css");

#title {
    padding-top: 75px;
	text-align: center;
}

#forgotPass,
#forgotPass:focus, 
#forgotPass:hover,
#auth > a {
	color: gray;
}

#forgotPass > b,
#auth > a > b {
	color: black;
}

#auth {
    text-align: center;
    border-top: 1px solid lightgray;
    padding: 20px;
}

.authBackground {
    background: white;
}

#app {
    padding: 0;
    margin: 0;
    height: 100px
}

#contentEnd {
    padding-bottom: 75px;
}