<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2" id="member-list">
        <mat-tab-group>
            <mat-tab label="Chat">
                <div id="conversations-list">
                    <div class="convrstion" *ngFor="let conversation of conversations" (click)="loadSecondParty(conversation.email)">
                        <h5 class="name">{{conversation.name}} <label class="username">({{conversation.email}})</label></h5>
                        <h6 class="last-message">{{conversation.message}}</h6>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Search">
                <div>
                    <mat-form-field class="search-select">
                        <mat-select placeholder="Search by language" [formControl]="languageControl" required>
                            <mat-option *ngFor="let language of languages" [value]="language.code">
                                {{ language.language }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="languageControl.invalid">{{getLanguageErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <button mat-button (click)='selectLanguage()' class="search-button">Search</button>
                </div>
                <div *ngIf="newSecondParties" id="search-list">
                    <div class="search" *ngFor="let newSecondParty of newSecondParties" (click)="loadSecondParty(newSecondParty.email)">
                        <h5 class="name">{{newSecondParty.name}} <label class="username">({{newSecondParty.email}})</label></h5>
                    </div>
                    <mat-card *ngIf="newSecondParties.length == 0">
                        <mat-card-content>
                            <h3> None of Our Users Talks This Language Yet, Try Again Later! </h3>
                        </mat-card-content>
                    </mat-card>
                </div>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>