<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2" id="member-list">
        <form class="col-12" id="email-search">
            <input type="text" class="col-md-12" placeholder="Search by email" id="search" />
        </form>

        <div id="conversations-list">
            <div class="convrstion" *ngFor="let conversation of conversations" (click)="loadSecondParty(conversation.email)">
                <h5 class="name">{{conversation.name}} <label class="username">({{conversation.email}})</label></h5>
                <h6 class="last-message">{{conversation.message}}</h6>
            </div>

            <div class="convrstion">
                <h5 class="name">Batata <label class="username">(batata@batata.batata)</label></h5>
                <h6 class="last-message">batata</h6>
            </div>

            <div class="convrstion">
                <h5 class="name">Batata <label class="username">(batata@batata.batata)</label></h5>
                <h6 class="last-message">batata</h6>
            </div>

            <div class="convrstion">
                <h5 class="name">Batata <label class="username">(batata@batata.batata)</label></h5>
                <h6 class="last-message">batata</h6>
            </div>

            <div class="convrstion">
                <h5 class="name">Batata <label class="username">(batata@batata.batata)</label></h5>
                <h6 class="last-message">batata</h6>
            </div>

            <div class="convrstion">
                <h5 class="name">Batata <label class="username">(batata@batata.batata)</label></h5>
                <h6 class="last-message">batata</h6>
            </div>

            <div class="convrstion">
                <h5 class="name">Batata <label class="username">(batata@batata.batata)</label></h5>
                <h6 class="last-message">batata</h6>
            </div>

            <div class="convrstion">
                <h5 class="name">Batata <label class="username">(batata@batata.batata)</label></h5>
                <h6 class="last-message">batata</h6>
            </div>
        </div>
    </div>