#chat {
    background: white;
}

#message {
    width: 80%;
}

#message-form {
    height: 10vh;
    padding: 15px 15px;
}

#messages {
    overflow-y: auto;
    height: 80vh;
}

#message-filler {
    flex-grow: 1;
}