<div class="row">
    <div id="member-list" class="col-md-3">
        <input type="text" class="col-md-12" placeholder="Search..." id="search"/>
    </div>
   
    <div id="chat" class="col-md-9">
        <div id="messages" class="col-md-12">
            <span id="message-filler"></span>
        </div>
        <form id="message-form" class="row">
            <input id="message" type="text" placeholder="Message..." class="col-md-10"/>
            <button id="submit" disabled type="submit" class="button col-md-2">
                Send
            </button>
        </form>
    </div>
</div>